<h1 class="page-title">{{ title }}</h1>
<form novalidate (ngSubmit)="submit(invoiceForm)" [formGroup]="invoiceForm" class="invoice-form">
  <div class="invoice-form__group invoice-form__date">
    <h6>Date &amp; number</h6>
    <mat-form-field>
      <input matInput type="text" formControlName="number" placeholder="Invoice number">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="datePicker" formControlName="date" placeholder="Invoice date">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div formGroupName="supplier" class="invoice-form__group">
        <h6>Supplier</h6>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="street" placeholder="Street">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="postCode" placeholder="Post Code">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="city" placeholder="City">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="nip" placeholder="NIP">
        </mat-form-field>
      </div>
    </div>
    <div class="col-sm-6">
      <div formGroupName="buyer" class="invoice-form__group">
        <h6>Buyer</h6>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="street" placeholder="Street">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="postCode" placeholder="Post Code">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="city" placeholder="City">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" formControlName="nip" placeholder="NIP">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div formArrayName="products" class="invoice-form__group invoice-form__products">
    <h6>Products</h6>
    <div *ngFor="let product of invoiceForm.get('products').controls; let i = index;" [formGroupName]="i">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="count" placeholder="Count">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="price" placeholder="Price">
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="addProduct()" type="button">
      <mat-icon>add</mat-icon> Add another product
    </button>
  </div>
  <div class="invoice-form__group invoice-form__payment">
    <h6>Payment</h6>
    <mat-form-field>
      <mat-select formControlName="paymentType" placeholder="Payment type">
        <mat-option *ngFor="let type of paymentTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="paymentTimePicker" formControlName="paymentTime" placeholder="Payment Time">
      <mat-datepicker-toggle matSuffix [for]="paymentTimePicker"></mat-datepicker-toggle>
      <mat-datepicker #paymentTimePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">Submit</button>
</form>
