<table mat-table [dataSource]="data">
  <ng-container *ngFor="let column of config.columns" [matColumnDef]="column.prop">
    <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="column.format === 'date'">{{ getDataValue(element, column.prop) | date }}</span>
      <span *ngIf="!column.format">{{ getDataValue(element, column.prop) }}</span>
    </td>
  </ng-container>

  <ng-container *ngIf="config.operations" matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef> Operations </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button *ngFor="let operation of config.operations" type="button" class="btn" (click)="onOperation(operation.id, i)">
        <mat-icon [matTooltip]="operation.name">{{ operation.icon }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
