<table mat-table [dataSource]="data">
  <ng-container *ngFor="let column of config.columns" [matColumnDef]="column.prop">
    <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="column.format === 'date'">{{ getDataValue(element, column.prop) | date }}</span>
      <span *ngIf="!column.format">{{ getDataValue(element, column.prop) }}</span>
    </td>
  </ng-container>

  <ng-container *ngIf="config.operations" matColumnDef="operations">
    <th mat-header-cell *matHeaderCellDef> Operations </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button *ngIf="config.operations.edit" type="button" class="btn" [routerLink]="['/invoices/form', i]">
        <mat-icon matTooltip="Edit">edit</mat-icon>
      </button>
      <button *ngIf="config.operations.copy" type="button" class="btn">
        <mat-icon matTooltip="Duplicate">add_to_photos</mat-icon>
      </button>
      <button *ngIf="config.operations.delete" type="button" class="btn">
        <mat-icon matTooltip="Delete" (click)="delete(i)">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
