<div class="container">
  <div class="row">
    <div class="col-sm">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="workspace">Workspace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="invoices">Invoices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
